.companyList {
  position: relative;
}

.companyList::after {
  background-image: url('./images/architectural-design-architecture-buildings-1055297.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  content: '';
}

/* #searchLabel {
  color: #141e30;
  font-family: 'Lato';
  margin: 0.5rem;
} */

.searchForm {
  background-color: transparent;
}

.searchInput {
  width: 20rem;
  border: 1px solid #42b7ce;
  border-radius: 5px;
  padding: 5px;
  height: 2rem;
  outline: none;
}

.searchInput:focus {
  color: darkgrey;
}

.cardHolder {
  display: inline-block;
  margin: 25px;
  width: 700px;
}
