#HomeContainer {
  background-image: url('./images/white-abstract.jpeg');
  min-height: 100vh;
  padding-top: 3em;
  padding-bottom: 4em;
  font-family: 'Lato';
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.backDrop {
  width: 80vw;
  max-width: 30em;
  min-height: 10em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.3em;
}

#HomeContainer h1 {
  padding-top: 0.7em;
  margin-bottom: 0.6em;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.linkButton {
  width: 30%;
  margin-bottom: 2em;
}

.linkButton > a {
  color: white;
}

.linkButton > a:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 456px) {
  #HomeContainer h1 {
    font-size: 2em;
  }
}
