.jobList {
  position: relative;
}

.jobList::after {
  background-image: url('./images/architecture-blue-building-1106476.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  content: '';
}

/* .cardHolder {
  display: inline-block;
  margin: 25px;
  width: 400px;
} */

#searchLabel {
  color: #141e30;
  font-family: 'Lato';
  margin: 0.5rem;
}

.searchForm {
  background-color: transparent;
}
