nav {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  font-weight: bold;
  color: white;
  border-bottom: solid 1px white;
  font-family: 'Titillium Web';
  font-size: 1.2em;
}

nav a,
nav button {
  padding: 0.5em 0;
  width: 7em;
  display: inline-block;
  color: grey;
  text-decoration: none;
  text-align: right;
}

nav a.active {
  color: rgb(53, 53, 53);
  text-decoration: none;
}

nav a:hover,
nav button:hover {
  color: grey;
  text-decoration: none;
}

#brandLink {
  text-align: left;
}

.nav-item {
  text-align: right;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navlink {
  color: lightgray;
  margin: 2px;
}

#logoutButton {
  margin: 7px;
  background-color: #141e30;
  border: none;
  font-family: 'Titillium Web';
  color: grey;
}
