nav {
  background: #243b55;
  text-align: center;
  font-weight: bold;
  color: white;
  border-bottom: solid 1px white;
  font-family: 'Titillium Web';
  font-size: 1.2em;
}

nav a,
nav button {
  padding: 0.5em 0;
  width: 7em;
  display: inline-block;
  color: lightgray;
  text-decoration: none;
  text-align: right;
}

nav a.active {
  color: lightgray;
  text-decoration: none;
}

nav a:hover,
nav button:hover {
  color: grey;
  text-decoration: none;
}

#brandLink {
  text-align: left;
  color: lightgray;
}

.nav-item {
  text-align: right;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navlink {
  color: lightgray;
  margin: 2px;
}

#logoutButton {
  margin: 3.5px;
  background-color: #243b55;
  border: none;
  font-family: 'Titillium Web';
  font-size: 19.2px;
  font-weight: bold;
  color: lightgray;
}

#logoutButton:hover {
  color: grey;
  text-decoration: none;
}
